<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="style/style.css" title="" type="" />
  </head>
  <body>
    <div id="bg-1">
      <div id="section-heading">
        <h2 class="txt-header2" id="txt-createAccount">
            Hola, Admin!
        </h2>
        <h6 class="txt-header" id="txt-joinCommunity">
          Welcome back! Enter the username and password to  <br />
          access the admin panel
        </h6>
      </div>
      <div id="section-input">
        <input class="inp" id="inp-LoginName" type="text" placeholder="name" />
        <input class="inp" id="inp-LoginPass" type="password" placeholder="Password"/>
      </div>
      <div id="section-button">
        <div id="btn-login" class="btn-reg">
           <p id="txt-login" >Log In</p>
          <div id="loader-login" class="loader-bar"></div>
        </div>
      </div>
      <div id="alert" >
        <p id="txt-alert" >Error msg</p>
    </div>
    </div>
    <script src="js/admin.js" ></script>
  </body>
</html>
