<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/style/style.css" title="" type="" />
  </head>
  <body>
    <div id="bg-1">
      <div id="section-heading">
        <h2 class="txt-header" id="txt-createAccount">
          Log in to your account
        </h2>
        <h6 class="txt-header" id="txt-joinCommunity">
          Welcome back! Log in and enter the community by <br />
          entering your email and password
        </h6>
      </div>
      <div id="section-input">
        <input class="inp" id="inp-LoginEmail" type="text" placeholder="E-mail" />
        <input class="inp" id="inp-LoginPass" type="password" placeholder="Password"/>
      </div>
      <div id="section-button">
        <div id="btn-login" class="btn-reg">
           <p id="txt-login" >Log In</p>
          <div id="loader-login" class="loader-bar"></div>
        </div>
      </div>
      <p class="txt-bottom" id="txt-RegisterNewAccount" >Register a New Account</p>
      <div id="alert" >
        <p id="txt-alert" >Error msg</p>
    </div>
    </div>
    <script src="js/login.js" ></script>
  </body>
</html>
