<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/style/style.css" title="" type="" />
  </head>
  <body>

    <div id="bg-1">
      <div class="section-header">
        <h2 class="txt-header" id="txt-createAccount">Create Account</h2>
        <h6 class="txt-header" id="txt-joinCommunity">
          Join the community by creating your account now
        </h6>
      </div>
      <div id="section-input">
        <input class="inp" name="uname" id="inp-username" type="text" placeholder="Username" />
        <input class="inp" name="uemail" id="inp-email" type="text" placeholder="E-mail" />
        <input class="inp" name="upass" id="inp-pass" type="password" placeholder="Password" />
        <input class="inp" name="ucpass" id="inp-confirmpass" type="password" placeholder="Conform Password" />
      </div>
      <div class="section-button">
        <div class="btn-reg" id="btn-continue" >
          <p id="txt-btn1" >Register</p>
          <div id="loader-continue" class="loader-bar"></div>
        </div>
      </div>
      <p class="txt-bottom" id="txt-aleardyHave" >Already have an account?</p>
      <div id="alert" >
        <p id="txt-alert" >Error msg</p>
      </div>
    </div>
    
    <script src="../js/register.js" ></script>
    
  </body>
</html>
